<div class="container-fluid">
		<div class="row">
			<ul class="nav nav-pills">
				<li class="active">
					<a data-toggle="pill" href="#SubAdmincreate">
						<i class="fa fa-plus-circle" aria-hidden="true"></i>
						Create SubAdmin Login
					</a>
				</li>
				<li>
					<a data-toggle="pill" href="#SubAdminlist">
						<i class="fa fa-table" aria-hidden="true"></i> 
						View SubAdmin List
					</a>
				</li> 
		   		<li>
					<a data-toggle="pill" href="#SubAdminEdit">
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						Edit SubAdmin List
					</a>
				</li> 
			</ul>
			  
			<div class="tab-content">
				<div id="SubAdmincreate" class="tab-pane fade in active">
					
					<div class="row" style="margin:0;">
						<p class="headingtxttabcontent" [style.color]="theme">REGISTER SUB-ADMIN DETAILS</p>
					</div>		
					 
					<form  [formGroup]="epassuserregisterform">
					<div class="row" style="margin:0;">
	
						<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
							<label>State Name</label>
							<input type="text" class="form-control"  placeholder="Choose State Name" formControlName="statename" (click)="statelistopen()" readonly>
							<div *ngIf="statelist && role !=='Admin'">
								<div class="dropdownlistdiv" *ngIf="statelistdropdown&&statelist.length>0">
									<input type="text"  class="form-control" formControlName="searchstate" placeholder="Search State Name" [(ngModel)]="term1">
									<div class="dropdownscroll">
										<div class="dropdowndiv" *ngFor="let item of statelist | filter:term1">		
											<div (click)="updatestatefield(item);">
												{{item.statename}}
											</div>
										</div>
									</div>								
								</div>
							</div>							
						</div>	
					 
						<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
							<label>Corporation Name</label>
							<input type="text" class="form-control"  placeholder="Choose Corporation Name" formControlName="corporationname" (click)="corporationlistopen()" readonly>
							<div class="dropdownlistdiv" *ngIf="corporationlistdropdown&&epassuserregisterform.value.statename!=''">
								<input type="text"  class="form-control" formControlName="searchcorporation" placeholder="Search Corporation Name" [(ngModel)]="term2">
								<div class="dropdownscroll" >
									<div class="dropdowndiv" *ngFor="let item of corporationlist | filter:term2">	
										<div (click)="updatecorporationfield(item)" *ngIf="epassuserregisterform.value.statename==item.statename" >
											{{item.corporationname}}
										</div>
									</div>
								</div>								
							</div>
						</div>
						
						<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
							<label>City Name</label>
							<input type="text" class="form-control"  placeholder="Choose City Name" formControlName="cityname" (click)="citylistopen()" readonly>
							<div class="dropdownlistdiv" *ngIf="citylistdropdown &&epassuserregisterform.value.corporationname!=''">
								<input type="text"  class="form-control" formControlName="searchstate" placeholder="Search City Name" [(ngModel)]="term3">
								<div class="dropdownscroll">
									<div class="dropdowndiv" *ngFor="let item of citylist | filter:term3">
	
										<div (click)="updatecityfield(item);" *ngIf="epassuserregisterform.value.corporationname==item.corporationname">
											{{item.cityname}}
										</div>
									</div>
								</div>								
							</div>
						</div>
						
						<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12" >   
							<label>Name</label>                   
						   <input type="text" class="form-control" formControlName="name" placeholder="Enter Your Name"> 
						</div>						
										
					</div><br/>
					
					<div class="row" style="margin:0;">
						<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
								<label>E-Mail</label>   
							<input type="text" class="form-control" formControlName="email" placeholder="Enter Your Mail"> 
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
								<label>Mobile</label>   
							<input type="text" class="form-control" formControlName="mobileno" placeholder="Enter Your Mobile"> 
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
								<label>PassWord</label>   
							<input type="text" class="form-control" formControlName="password" placeholder="Enter Your Password" readonly> 
						</div> 	
					</div><br/>
					
					<div class="row" style="margin:0;">
							<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
								<label>Rights</label><label style="margin-left: 15px;"><input type="checkbox" [checked]="checkall" (click)="getrights();">Check All</label>
							<div class="row">							  
								<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12"  *ngFor="let item of rightslistarr" >
									<label class="checkboxlabel"><input (change)="getcheckedrights($event,checkboxValue.value);"  type ="checkbox" value="{{item.RightName}}" #checkboxValue 	[checked]="item.Status"> {{item.RightName}} </label>
								</div>							 
							</div>	  
						</div>    
					</div>
					
					<div class="row" style="margin:0;">
						<div class="col-sm-9 col-md-9 col-lg-9 col-xs-12" ></div>
						<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect " [style.background-color]="theme" (click)="epassuserregister()">Submit </button> 
						</div>  
					</div>
					
					</form>
				</div>
				
				<div id="SubAdminlist" class="tab-pane fade">
					<div class="row" style="margin: 0">
						<p class="headingtxttabcontent" [style.color]="theme" >SUB-ADMIN DETAILS</p>
					</div>
							
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
							<table  class="table table-bordered table-striped table-hover">
								<thead >
									<tr>
										<th>User ID</th>
										<th>Name</th>
										<th>State Name</th>
										<th>Corporation Name</th>
										<th>City Name</th>
										<th>E-Mail</th>
										<th>Mobile</th>	
										<th>Rights</th>	
										<th>Status</th>		
										<th>Updated By</th>					 
									</tr>
								</thead>
								<tbody >
									<tr *ngFor="let item of users | paginate: { itemsPerPage: 5, currentPage: p }">
										<td>{{item.userid}}</td>
										<td>{{item.name}}</td>
										<td>{{item.statename}}</td>
										<td>{{item.corporationname}}</td>
										<td>{{item.cityname}}</td>
										<td>{{item.email}}</td>
										<td>{{item.mobileno}}</td>
										<td>{{item.rights}}</td>
										<td>{{item.status}}</td>
										<td>{{item.updateby}}</td>
									</tr>
								</tbody>
							</table>
						</div>					
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style="text-align: right;">
							<pagination-controls (pageChange)="p = $event" [style.baground-color]="theme"></pagination-controls>
						</div>
					</div>
				</div>

				<div id="SubAdminEdit" class="tab-pane fade">                 
					<div class="row" style="margin: 0">
						<p class="headingtxttabcontent" [style.color]="theme">EDIT/UPDATE SUB-ADMIN LIST</p>
					</div> 

					<form  [formGroup]="EditSubadminForm" autocomplete="off" *ngIf="EditRights.length > 0">
					
						<div class="row">
							<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
								<div class="form-group">
									<label>State Name</label>
									<input type="text" formControlName="editstate" class="form-control" >
								</div>
							</div>
							<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
								<div class="form-group">
									<label>Corporation Name</label>
									<input type="text" formControlName="editcorporation" class="form-control">
								</div>
							</div>
							<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
								<div class="form-group">
									<label> City Name</label>
									<input type="text" class="form-control" formControlName="editcity">
								</div>
							</div>
							 <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
								<div class="form-group">
									<label> Name</label>
									<input type="text" formControlName="editname" class="form-control" >
								</div>
							</div>                         
						</div>
						
						<div class="row">							
							<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
								<div class="form-group">
									<label> E-Mail</label>
									<input type="text" formControlName="editmail" class="form-control"  >
								</div>
							</div>
							<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
								<div class="form-group">
									<label> Mobile Number</label>
									<input type="text" class="form-control" formControlName="editmobile" >
								</div>
							</div>
							 
							<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
								<div class="form-group">
									<label>Status</label>
									<select  class="form-control" formControlName="status" >
										<option value="Active">Active</option>
										<option value="InActive">InActive</option>
									</select>
								</div> 
							</div>							
						</div>						
	
						<div class="row" style="margin:0;">
							<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
								<label>Rights</label>
								<div class="row">							  
									<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12"  *ngFor="let item of EditRights" >
										<label class="checkboxlabel"><input (change)="getcheckedrights($event,checkboxValue.value);" type ="checkbox" value="{{item.RightName}}" #checkboxValue 
										[checked]="item.Status"> {{item.RightName}} </label>
									</div>							 
								</div>	  
							</div>    
						</div>
						<div class="row">
							<div class="col-sm-9 col-md-9 col-lg-9 col-xs-12"></div>
							<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12">
								<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" [style.background-color]="theme" (click)="edituser();"> Update	</button>
							</div>
						</div>
					</form>							
					
					<div class="row customrow">
						<p class="instructionforclicktxt">*Click table row for Edit Bus Service Details </p>
						<div class="table-responsive">
							<table class="table table-hover table-bordered table-striped">
								<thead>
									<tr>
										<th>User ID</th>
										<th>Name</th>
										<th>State Name</th>
										<th>Corporation Name</th>
										<th>City Name</th>
										<th>E-Mail</th>
										<th>Mobile</th>	
										<th>Rights</th>													
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let item of users | paginate: { itemsPerPage: 10, currentPage: p }" (click)="edituserdetails(item);">
										<td>{{item.userid}}</td>
										<td>{{item.name}}</td>
										<td>{{item.statename}}</td>
										<td>{{item.corporationname}}</td>
										<td>{{item.cityname}}</td>
										<td>{{item.email}}</td>
										<td>{{item.mobileno}}</td>
										<td>{{item.rights}}</td>
									</tr>
								</tbody>
							</table>
							<div class="paginationdiv">
								<pagination-controls (pageChange)="p = $event" [style.baground-color]="theme"></pagination-controls>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
		
<router-outlet></router-outlet>  