<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-pills">
            <li class="active">
                <a data-toggle="pill" href="#busservicecreate">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i> 
                    Add Pass Scheme Details
                </a>
            </li>
            <li>
                <a data-toggle="pill" href="#busservicelist">
                    <i class="fa fa-table" aria-hidden="true"></i> 
                    View Pass Scheme List
                </a>
            </li>
            <li>
                <a data-toggle="pill" href="#busserviceedit">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 
                    Edit/Update Pass Scheme List
                </a>
            </li>
          
        </ul>
          
        <div class="tab-content">

            <div id="busservicecreate" class="tab-pane fade in active">
                <form autocomplete="off"  [formGroup]="addpassschemeform" (ngSubmit)="addpassscheme();">
                    <div class="row customrow">
                        <p class="headingtxttabcontent" [style.color]="theme">ADD PASS SCHEME DETAILS</p>
                    </div>
                    <div class="row ">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" formControlName="statename" placeholder="State Name" (click)="statelistopen();" readonly> 
                            <div *ngIf="epassstatelist && role!=='SubAdmin' && role!=='Admin'">
                                <div class="dropdownlistdiv" *ngIf="statelistdropdown&&epassstatelist.length>0">
                                    <input type="text" class="form-control" placeholder="Search State"  [(ngModel)]="term" formControlName="searchstate">
                                    <div class="dropdownscroll">
                                        <div class="dropdowndiv" *ngFor="let item of epassstatelist |filter:term" (click)="updatestatefield(item)">
                                        {{item.statename}}
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>                       
                  
                        <div class="col-sm-3">
                            <input type="text" class="form-control" formControlName="corporationcode" placeholder="Corporation Code" (click)="corporationlistopen();" readonly> 
                            <div class="dropdownlistdiv" *ngIf="corporationlistdropdown&&addpassschemeform.value.statename != '' && role!=='SubAdmin'">
                                <input type="text" class="form-control" placeholder="Search Corporation"  [(ngModel)]="term1" formControlName="searchcorporation">
                                <div class="dropdownscroll">
                                    <div  *ngFor="let item of epasscorporationlist |filter:term1">
                                        <div class="dropdowndiv" *ngIf="item.statename==selstatename">
                                            <div  (click)="updatecorporationfield(item)" >
                                                {{item.corporationcode}}
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <input type="text" class="form-control" formControlName="cityname" placeholder="City Name" (click)="citylistopen();" readonly> 
                            <div class="dropdownlistdiv" *ngIf="citylistdropdown&&addpassschemeform.value.corporationcode != '' && role!=='SubAdmin'">
                                <input type="text" class="form-control" placeholder="Search City"  [(ngModel)]="term2" formControlName="searchcity">
                                <div class="dropdownscroll">
                                    <div  *ngFor="let item of epasscitylist |filter:term2">
                                        <div class="dropdowndiv" *ngIf="item.statename==selstatename && item.corporationcode==selcorporationcode">
                                            <div  (click)="updatecityfield(item)" >
                                                {{item.cityname}}
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" formControlName="passschemename" placeholder="Pass Scheme Name">
                        </div>
                   
                    </div>
                   
                    <div class="row customrow">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent pull-right" style="margin:15px;" [style.background-color]="theme">
                            Submit
                        </button>
                    </div>
                </form> 
                <p class="ortxt"><span class="orspan card" [style.color]="theme">OR</span></p>
                <div class="row customrow">
                    <p class="headingtxttabcontent" [style.color]="theme">EXCEL FILE UPLOAD</p>
                    <p class="instructionforclicktxt">*Click Excel image to Download Format then Fill Data then Upload Your Data's</p>
                </div>
                <div class="row customrow">
                    <div class="col-sm-3">
                        <a href="../../../assets/excel/passscheme.xlsx" download>
                            <img src="../../../assets/images/excel.png" style="width:100px;">
                            <i class="material-icons downloadiconstyle card"> get_app </i>
                        </a>
                       
                    </div>

                    <div class="col-sm-6">
                        <input type="file" class="form-control" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx"  style="margin:15px !important;" >
                    </div>
                   <div class="col-sm-3">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent pull-right" style="margin:15px !important;"  (click)="Upload()" [style.background-color]="theme">
                            Upload
                        </button>
                   </div>
                   
                </div>           
            </div>

            <div id="busservicelist" class="tab-pane fade">
                <div class="row customrow">
                    <p class="headingtxttabcontent" [style.color]="theme">PASS SCHEME DETAILS</p>
                </div>
                <div class="row customrow">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>S No</th>
                                    <th>Country Name</th>
                                    <th>State Name</th>
                                    <th>Corporation Name</th>
                                    <th>City Name</th>
                                   
                                    <th>Pass Scheme Name</th>
                                    <th>Status</th>
                                    <th>Update By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of allpassschemelist | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <td>{{item.passschemeno}}</td>
                                    <td>{{item.countryname}}</td>
                                    <td>{{item.statename}}</td>
                                    <td>{{item.corporationname}}</td>
                                    <td>{{item.cityname}}</td>
                                    
                                    <td>{{item.passschemename}}</td>
                                    <td>{{item.status}}</td>
                                    <td>{{item.updateby}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="paginationdiv">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>

            <div id="busserviceedit" class="tab-pane fade">
                <form autocomplete="off"  [formGroup]="editpassschemeform" (ngSubmit)="editpassscheme();">
                    <div class="row customrow">
                        <p class="headingtxttabcontent" [style.color]="theme">EDIT / UPDATE PASS SCHEME DETAILS</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" formControlName="statename" placeholder="State Name" readonly>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" formControlName="corporationname" placeholder="Corporation Name" readonly>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" formControlName="cityname" placeholder="City Name" readonly>
                        </div>
                       
                        <div class="col-sm-3">
                            <input type="text" class="form-control" formControlName="passschemename" placeholder="Pass Scheme Name">
                        </div>
                    </div>
                    <div class="row marbtm10 martop20">
                      
                        <div class="col-sm-3">
                            <select class="form-control" formControlName="status">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                            
                        </div>
                    </div>
                    <div class="row customrow">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent pull-right" style="margin:15px;" [style.background-color]="theme">
                            Submit
                        </button>
                    </div>
                </form>
                <div class="row customrow">
                    <p class="instructionforclicktxt">*Click table row for Edit Bus Service Details </p>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>S No</th>
                                    <th>Country Name</th>
                                    <th>State Name</th>
                                    <th>Corporation Name</th>
                                    <th>City Name</th>
                                  
                                    <th>Pass Scheme Name</th>
                                    <th>Status</th>
                                    <th>Update By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of allpassschemelist | paginate: { itemsPerPage: 10, currentPage: p }" (click)="editformfieldupdate(item);">
                                    <td>{{item.passschemeno}}</td>
                                    <td>{{item.countryname}}</td>
                                    <td>{{item.statename}}</td>
                                    <td>{{item.corporationname}}</td>
                                    <td>{{item.cityname}}</td>
                                   
                                    <td>{{item.passschemename}}</td>
                                    <td>{{item.status}}</td>
                                    <td>{{item.updateby}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="paginationdiv">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


    
<router-outlet></router-outlet>
    
    